

.container {
	max-width: 970px !important;
}

.highlighed {
	background: #fbfbee;
}

.section-main:not(:last-child) {
	padding-bottom: 1rem !important;
}

.job-item:not(:last-child) {
	border-bottom: 1px solid #dedede;
}

.job-item {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    padding-bottom: 10px !important;
}

.section-hero {
	background: #fdfdfd;
}

.section-search {
	padding-bottom: 0 !important;
}

.section-search form {
	margin-bottom: 15px;
}

.pulled-right {
	justify-content: flex-end !important;
}

/* menu */

.custom-navbar-item {
	color: #fff;
	font-weight: 500;
	padding: 8px;
}

.custom-navbar-item:hover {
	background: #87c8ff !important;
	color: #fff !important;
}

.custom-navbar-item a {
	border-bottom: 2px solid #87c8ff;
	border-top: 2px solid #87c8ff;
	padding: 3px 10px;
	color: #fff !important;
}

.custom-navbar-item a:hover {
	background: #87c8ff !important;
	color: #fff !important;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #87c8ff;
}

.custom-navbar-item span {
	padding-right: 15px;
}

.is-light-blue {
	background-color: #87c8ff !important;
}

/* footer */
.footered .container {
	padding: 40px 0 30px;
}

.footered {
	background: #87c8ff;
	text-align: center;
	margin-top: 3rem;
}

.footered .column {
	padding: 0 50px;
	margin-top: 20px;
}

.footered ul li {
	
}

.footered ul li a {
	font-size: 13px;
	color: #fff;
}

.footered ul li a:hover {
	color: #000;
}

.footered .title {
	border-bottom: 1px solid #c4e1ef;
	padding-bottom: 8px;
	margin-bottom: 5px !important;
	font-size: 14px !important;
	color: #fff;
}

.footered .copyright {
	font-size: 12px;
	margin-top: 50px;
	color: #fff;
}

.footered .footered-item {
	margin: 0;
}

.footered .footered-item.social-media {
	margin: 0 0 0;
	font-weight: 500;
	font-size: 14px;
}

.job-role a {
	font-size: 18px;
}

.job-role {
	margin-bottom: 10px;
}

.job-company {

}

.job-role .job-hi .icon {
	font-size: 13px;
}

.job-role .job-hi {
	margin-right: 10px;
	font-size: 13px;
}

.job-date {
	font-size: 15px;
    font-style: italic;
}

.formy {
	text-align: center;
}

.formy .field {
	justify-content: center !important;
}

.formy .tags {
	justify-content: center;
}

.formy .search-input {
	flex-grow: 0.5;
}

.job-group-title {
	padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #ca1515;
    /* margin-bottom: 10px; */
    border-bottom: 1px solid #5d5959;
    padding-bottom: 10px;
}

.search-button {
	padding: 0 20px !important;
    font-size: 14px !important;
}



.job-detail .sidebar-item:not(:last-child) {
	margin-bottom: 15px;
}

.job-detail .sidebar-item {
	border: 1px solid #eee;
	padding: 15px;
	font-size: 14px !important;
}

.job-detail .sidebar-item .company-logo {
	width: 100%;
}

.job-detail .sidebar-item a, input {
	font-size: 14px !important;
}

.job-detail .sidebar-item.social-media {
	display: flex;
	justify-content: space-around;
}

.job-detail .sidebar-item.social-media img  {
	width: 40px;
	height: 40px;
}

.job-details .icon {
	margin-right: 5px;
    position: relative;
    top: 1px;
    font-size: 15px;
}

.job-details .detail-item {
	margin-right: 5px;
    position: relative;
    top: 1px;
}


.applied-filters  {
	display: flex !important;
	justify-content: center;
}

.applied-filters .tags {
	margin-bottom: 0 !important;
	margin-left: 10px;
}





